*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# IntelliJ Files #
*.idea
*.iml
.idea/
lib/
*out/
gradlew.bat
gradlew

# Created by https://www.gitignore.io/api/intellij

### Intellij ###
# User-specific stuff:
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries

# Sensitive or high-churn files:
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml

# Gradle:
.idea/**/gradle.xml
.idea/**/libraries

# Mongo Explorer plugin:
.idea/**/mongoSettings.xml

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Cursive Clojure plugin
.idea/replstate.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
### Intellij Patch ###
# Comment Reason: https://github.com/joeblau/gitignore.io/issues/186#issuecomment-215987721
gradle/wrapper/gradle-wrapper.properties
# *.iml
# modules.xml
# .idea/misc.xml
# *.ipr
src/.DS_Store
src/map.txt
classes

# Sonarlint plugin
.idea/sonarlint

# End of https://www.gitignore.io/api/intellij

# Eclipse Files #
*.classpath
*.project
/bin/
.gradle
build
classes/production/RoadsAndBoats/controller/
classes/production/RoadsAndBoats/direction/
classes/production/RoadsAndBoats/model/
classes/production/RoadsAndBoats/utilities/
classes/production/RoadsAndBoats/view/
classes/test/


*.orig